:root {
  --dark-blue: hsl(213, 19%, 18%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-blue: hsl(213, 19%, 22%);
  --medium-grey: hsl(216, 12%, 54%);
  --orange: hsl(25, 97%, 53%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --white: hsl(0, 0%, 100%);

  --main-font-size: .9rem;
  --overpass: 'Overpass', sans-serif;
  
  --bold-weight: 700;
  --light-weight: 400;

  --desktop: 1440px
  --mobile: 375px;
}
